<div class="container my-5 my-md-3" id="contact">
    <div class="row">
        <div class="col-10 col-md-12 offset-1 offset-md-0">
            <h2 class="text-center contact-title">Contact Us</h2>
            <div class="row my-4 d-flex justify-content-center align-items-center">
                <form action="/contact" method="POST" class="col-12 col-md-6">
                 <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" placeholder="Enter Full Name" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter Email Address" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">number</label>
                    <input type="number" name="number" placeholder="Enter number" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">massage</label>
                    <input type="text" name="massage" placeholder="Enter massage" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
</div>