
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
          <a class="navbar-brand logo font-weight-bold text-white" href="#"><span class="text-pink">M</span>orsalin Kausar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link anchor text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link anchor text-white" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link anchor text-white" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link anchor text-white" href="#">Gellery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link anchor text-white" href="#contact">Contact</a>
              </li>
          </div>
        </div>
      </nav>